.GT1 {
    background-color: #a3f3ff;
    color: white;
}

.GT2 {
    background-color: #6bbac6;
    color: white;
}

.GT3 {
    background-color: #3b8691;
    color: white;
}


.GT4 {
    background-color: #1e5c66;
    color: white;
}

.GT5 {
    background-color: #0d3d44;
    color: white;
}

.LMP1 {
    background-color: #ff0000;
    color: white;
}