body {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Calibri", sans-serif;
}

h1 {
	margin: 0;
    margin-left: 3;
    color: orange;
    text-shadow: 1px 1px 3px black, 1px -1px 3px black, -1px 1px 3px black, -1px -1px 3px black;
}

table.moving {
	position: absolute;
	width: 10000px;
}
tr.moving {
	float: left;
}
td.position.moving {
	width: 30px;
}
td.colPosChange.moving {
	width: 30px;
}
td.colName.moving {
	min-width: 200px;
}
td.colGap.moving {
	width: 30px;
}

table {
  font-weight: 700;
  color: rgba(245,245,245,1);
  font-size: 130%;
}

tr:nth-child(even) {
    background-color: rgba(50,50,50,0.7);
}
tr:nth-child(odd) {
    background-color: rgba(20,20,20,0.7);
}
tr{
	height: 28px;
}

td.position{
	color: rgb(113, 250, 255);
	min-width: 25px;
	text-align: center;
}
td.colGap{
	min-width: 30px;
	text-align: right;
	padding-right: 5px;
}
td.colPosChange {
	font-weight: 500;
	text-align: right;
	min-width: 25px;
}
td.colName, td.colNameR, td.colPosChange {
	padding-left: 5px;
	padding-right: 5px;
}
td.colNameR {
	min-width: 200px;
}

.driver {
	color: rgba(255,186,66,1);
}
.lapping, .lostPos{
	color: #FF5B00;
}
.lapped{
	color: rgb(67, 174, 255);
}
.gainedPos{
	color: #8BC34A;
}
